{% extends "generic/confirm_delete.html" %}
{% block content %}
<div class="row justify-content-center">
  <div class="col-12 col-lg-8 col-xxl-6">
    <div class="card">
      <div class="card-body">
        <div class="section-head mb-3">
          <div>
            <h2 class="h4 mb-1">Deactivate Staff</h2>
          </div>
        </div>
        <p class="text-secondary">Are you sure you want to deactivate <strong>{{ staff.username }}</strong>?</p>
        <form method="post" class="d-flex flex-wrap gap-2">{% csrf_token %}<button class="btn btn-danger" type="submit">Deactivate</button> <a class="btn btn-outline-secondary" href="{% url 'accounts:staff-list' %}">Cancel</a></form>
      </div>
    </div>
  </div>
</div>
{% endblock %}
